/* Loader */

#loader
{
	border: 8px solid #EBEBEB;
	border-top-color: #43A6DF;
	border-radius: 100%;

	width: 64px;
	height: 64px;

	animation: loader 1s infinite ease-in-out;
}

@keyframes loader
{
	0%
	{
		transform: rotate(0deg);
	}

	100%
	{
		transform: rotate(360deg);
	}
}

/* Navigation */

nav
{
	display: flex;
	background: #2578CF;
	color: white;
	padding: 5px;
}

.nav-logo
{
	margin-right: auto;
}

.nav-items
{
	display: flex;
	justify-content: flex-end;
}

.nav-items > a
{
	padding: 10px 15px;
	transition: all 0.2s;
}

.nav-items > a:hover
{
	background: #F2F2F2;
	color: #424242;
	cursor: pointer;
}